<%= render 'shared/searchbar' %>

<ul class="items clearfix">
  <%- @countries.each do |country| %>
    <%= content_tag :li, class: "item #{region(country).parameterize}" do %>
      <%- div_for(country, class: "") do %>
        <%= image_tag(country.image.url(:small)) %>
        <p class='center name'><%= link_to country.name, country_path(country) %></p>
        <% if Rails.env.development? %>
          <%= link_to "Edit", edit_country_path(country) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if Rails.env.development? %>
  <%= render 'countries/form' %>

<% end %>
