<%= render 'shared/searchbar' %>

<ul class="items clearfix">
  <%- Country.all.each do |c| %>
    <%= content_tag :li, class: "item #{region(c).parameterize}" do %>
      <%- div_for(c, class: "") do %>
        <%= image_tag(c.image.url(:small)) %>
        <p class='center name'><%= link_to c.name, country_path(c) %></p>
        <% if Rails.env.development? %>
          <%= link_to "Edit", edit_country_path(c) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if Rails.env.development? %>
  <%= render 'countries/form' %>

<% end %>
