<%= render 'shared/searchbar' %>

<ul class="items clearfix">
  <%- Country.all.each do |c| %>
    <%= content_tag :li, class: "item #{region(c).parameterize}" do %>
      <%- div_for(c, class: "") do %>
        <%= image_tag(c.image.url(:small)) %>
        <p class='center name'><%= link_to c.name, "#" %></p>
        <%= link_to "Edit", edit_country_path(c) %>
        <%= link_to "Delete", country_path(c), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= render 'countries/form' %>
