<%= form_for @country do |f| %>
  <%= f.text_field :name, placeholder: "Ex. United States" %>
  <%= f.collection_select(:region_id, Region.all, :id, :name) %>
  <div>
    <%= f.file_field :image %>
  </div>
  <%= f.submit 'Create', class: "btn btn-primary btn-small" %>
<% end %>